@model Domain_Layer.DTO.NewPostDTO

<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        @using (Html.BeginForm("NewPost", "Account", FormMethod.Post, new { id = "NewPostForm", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postModalTitle">Compartir un nuevo estado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>                                
                <div class="modal-body">                    
                    <div class="form-group">
                        @Html.ValidationMessageFor(m => m.Comment, null, new { @class = "text-danger mb-1" })
                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "¿Que tienes para decir?", rows = 1 })                            
                    </div>                    
                    <div id="imgThumbnailsRow" class="row no-gutters text-center justify-content-center d-none"></div>
                    @Html.ValidationMessageFor(m => m.GifImage, null, new { @class = "text-danger" })
                </div>
                <div class="modal-footer">                    
                    <div class="w-100 justify-content-start">
                        <input type="file" id="UploadImage" name="imgUploaded[]" class="d-none" accept="image/jpeg,image/png" multiple />
                        @Html.TextBoxFor(m => m.GifImage, new { type = "file", @class = "d-none", accept = "image/gif" })                        
                        <button id="newImageBtn" type="button" class="btn btn-secondary" title="Agregar imágenes"><i class="fas fa-images"></i></button>
                        <button id="newGifBtn" type="button" class="btn btn-secondary" title="Agregar una imágen GIF"><i class="fab fa-gofore"></i></button>                        
                        <button id="newVideoBtn" type="button" class="btn btn-secondary" title="Agregar un video"><i class="fas fa-video"></i></button>
                        <button id="newLinkBtn" type="button" class="btn btn-secondary" title="Agregar un enlace"><i class="fas fa-link"></i></button>                        
                    </div>
                    <div class="w-100 text-right justify-content-end">
                        <label class="mr-2 available-chars">280</label>                        
                        <button type="submit" class="btn btn-success"><i class="fas fa-feather-alt"></i> Postear</button>
                    </div>                    
                </div>                
            </div>
        }
    </div>
</div>