@using Domain_Layer;
@model IEnumerable<Domain_Layer.DTO.PostSectionDTO>

@if (Model.Count() > 0)
{
    foreach (var post in Model)
    {
        <div class="card post mb-1" data-postid="@post.PostID">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        @if (!string.IsNullOrEmpty(post.RepostedBy))
                        {
                            <h6 class="text-center text-muted mb-2"><i class="fas fa-retweet"></i> Reposteado por @post.RepostedBy</h6>
                        }
                        <a class="card-link" href="@Url.Action("ProfileScreen", "Account", new { id = post.CreatedBy })">
                            <img class="post-profile-img mr-2" src="@post.ProfileAvatar" alt="profile_image" />
                            <span class="card-title"><b>@post.NickName</b></span>
                            <span class="card-subtitle mb-2 text-muted">@post.UserName</span>
                        </a>
                        <div class="dropdown post-actions-menu">
                            <a id="menuLinkActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-caret-square-down ml-2"></i></a>
                            <div class="dropdown-menu" aria-labelledby="menuLinkActions">
                                <a class="dropdown-item copy-link" href="javascript:void(0);" data-copyurl="@(Request.Url.Authority + "/Account/ProfileScreen/ViewPost/" + post.PostID)"><i class="far fa-copy"></i> Copiar enlace del post</a>                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="fas fa-microphone-alt-slash"></i> Silenciar a @@usuario</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-lock"></i> Bloquear a @@usuario</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ViewPost", "Account", new { postID = post.PostID })" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i> Abrir en una pestaña nueva</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <p class="card-text text-comment">@post.Comment</p>                        

                        @switch (post.Thumbnails.Count)
                        {
                            case 1:
                                <div class="card post-images one-thumbnail ovh">
                                    <img src="@post.Thumbnails[0]" alt="posted_image">
                                </div>
                                break;
                            case 2:
                                <div class="card post-images two-thumbnails">
                                    <div class="row no-gutters">
                                        <div class="col tpr">
                                            <div class="ovh">
                                                <img src="@post.Thumbnails[0]" alt="posted_image">
                                            </div>
                                        </div>
                                        <div class="col tpl">
                                            <div class="ovh">
                                                <img src="@post.Thumbnails[1]" alt="posted_image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                            case 3:
                                <div class="card post-images three-thumbnails">
                                    <div class="row no-gutters">
                                        <div class="col-md-8 tpr">
                                            <div class="ovh">
                                                <img src="@post.Thumbnails[0]" alt="posted_image">
                                            </div>
                                        </div>
                                        <div class="col-md-4 tpl">
                                            <div class="row tpb">
                                                <div class="col">
                                                    <div class="ovh">
                                                        <img class="mini-thumbnail" src="@post.Thumbnails[1]" alt="posted_image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="ovh">
                                                        <img class="mini-thumbnail" src="@post.Thumbnails[2]" alt="posted_image" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                            case 4:
                                <div class="card post-images four-thumbnails">
                                    <div class="row no-gutters">
                                        <div class="col-md-6 tpr">
                                            <div class="ovh">
                                                <img src="@post.Thumbnails[0]" alt="posted_image">
                                            </div>
                                        </div>
                                        <div class="col-md-6 tpl">
                                            <div class="ovh">
                                                <img src="@post.Thumbnails[1]" alt="posted_image">
                                            </div>
                                        </div>
                                        <div class="w-100 tpb"></div>
                                        <div class="col-md-6 tpr">
                                            <div class="ovh">
                                                <img src="@post.Thumbnails[2]" alt="posted_image" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 tpl">
                                            <div class="ovh">
                                                <img src="@post.Thumbnails[3]" alt="posted_image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                break;
                            default:
                                if (!string.IsNullOrWhiteSpace(post.GIFImage))
                                {
                                    <div class="card post-images one-thumbnail ovh">
                                        <img src="@post.GIFImage" alt="posted_image">
                                    </div>
                                }
                                else if (post.VideoFile != null)
                                {
                                    <div class="card embed-responsive embed-responsive-16by9">
                                        <video src="@post.VideoFile" class="embed-responsive-item" controls></video>
                                    </div>
                                }
                                break;
                        }
                    </div>
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-5 interact-buttons" data-postid="@post.PostID">
                        @Html.Partial("~/Views/Account/_InteractButtons.cshtml", post.InteractButtons)
                    </div>
                    <div class="col-md-5 text-right text-muted">
                        <p class="text-lowercase"><i class="far fa-clock"></i> @post.PublicationDate.ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))</p>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    @Html.Partial("~/Views/Account/_EmptyCard.cshtml")
}