@model Domain_Layer.DTO.ProfileSectionDTO

<img class="profile-section-header" src="@Model.ProfileHeader" alt="header_image">
<div class="card-body">
    <div class="row">
        <div class="col">
            <img class="profile-section-avatar" src="@Model.ProfileAvatar" alt="avatar_image" />
            <h5 class="text-center">@Model.NickName</h5>
            <a class="text-center text-muted" href="@Url.Action("ProfileScreen", "Account", new { id = Model.PersonID })"><h6>@Model.UserName</h6></a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4 col-md-4">
            <a href="#" class="legends">
                <span>Posts</span>
                <span>@Model.PostCount</span>
            </a>
        </div>
        <div class="col-4 col-md-4">
            <a href="#" class="legends">
                <span>Siguiendo</span>
                <span>@Model.FollowingCount</span>
            </a>
        </div>
        <div class="col-4 col-md-4">
            <a href="#" class="legends">
                <span>Seguidores</span>
                <span>@Model.FollowerCount</span>
            </a>
        </div>
    </div>
</div>