@model Domain_Layer.DTO.ProfileScreenDTO

@{
    ViewBag.Title = "Mi perfil";
}

@Styles.Render("~/Content/website/profile_screen.css")

<div class="row">
    <div class="col">
        <input type="file" accept="image/*" id="headerFile" class="d-none" />
        <img class="profile_screen-header" src="@Model.ProfileInformation.ProfileHeader" alt="header_background" />
        <label for="headerFile" class="btn btn-sm btn-primary forHeader" title="Cambiar la imágen de cabecera"><i class="far fa-edit"></i></label>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <div class="profile_screen-trends">
            <h5>
                @if (Model.TopTrendings.Count > 0)
                {
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                    <a class="mr-3" href="#">#LaChingadaTopic</a>
                }
                else
                {
                    <span>No hay tendencias en este momento <i class="far fa-frown-open"></i></span>
                }
            </h5>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 text-center">
        <div class="row">
            <div class="col">
                <input type="file" accept="image/*" id="avatarFile" class="d-none" />
                <img class="profile_screen-avatar" src="@Model.ProfileInformation.ProfileAvatar" alt="avatar" />
                <label for="avatarFile" class="btn btn-sm btn-outline-primary forAvatar" title="Cambiar la imágen de perfil"><i class="far fa-edit"></i></label>
            </div>            
        </div>
        <div class="row mt-3">
            <div class="col">
                <h3>@Model.ProfileInformation.NickName</h3>
                <h5>@Model.ProfileInformation.UserName</h5>                
            </div>
        </div>
        <div class="row mt-3">
            <div id="lala" class="col profile-details">
                <p class="mt-2"><i class="far fa-comment-dots"></i> @Model.ProfileInformation.PersonalDescription</p>
                <p><a href="@Model.ProfileInformation.WebSiteURL"><i class="fas fa-link"></i> @Model.ProfileInformation.WebSiteURL</a></p>
                <p class="text-muted"><i class="fas fa-birthday-cake"></i> Nació el 31 de diciembre de 2010</p>
                <p class="text-muted"><i class="far fa-calendar-alt"></i> Se unió en diciembre de 1999</p>
                <button id="editDetails" type="button" class="btn btn-sm btn-outline-primary">Editar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row mb-3">
            <div class="col">
                <ul id="profileScreen-nav" class="nav nav-pills" data-tab="@ViewBag.Tab">
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account")">Posts <span class="badge badge-primary badge-pill">@Model.StatisticsBar.PostsCount</span></a>
                    </li>
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "following" })">Siguiendo <span class="badge badge-primary badge-pill">@Model.StatisticsBar.FollowingCount</span></a>
                    </li>                    
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "followers" })">Seguidores <span class="badge badge-primary badge-pill">@Model.StatisticsBar.FollowersCount</span></a>
                    </li>
                    <li class="nav-item mr-1">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "likes" })">Me gusta <span class="badge badge-primary badge-pill">@Model.StatisticsBar.LikesCount</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ProfileScreen", "Account", new { v = "lists" })">Listas <span class="badge badge-primary badge-pill">@Model.StatisticsBar.ListsCount</span></a>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @switch ((string)ViewBag.Tab)
                {
                    case "following":

                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy following</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy following</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>

                        break;
                    case "followers":

                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy follower</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy follower</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>

                        break;
                    case "likes":

                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy like</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy like</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>

                        break;
                    case "lists":

                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy list</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-body">
                                <h4 class="card-title">Soy list</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>

                        break;
                    default:
                        @Html.Partial("~/Views/Account/_PostSection.cshtml", Model.PostsSection)
                        break;
                }
            </div>
        </div>

        
    </div>
</div>

@section scripts {
        @Scripts.Render("~/Scripts/account/profileScreen.js")
        @Scripts.Render("~/Scripts/account/jquery.marquee.js")
    }