@using Domain_Layer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MiniBird</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light pepe">        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav w-100 justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-clipboard-list"></i> Listas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Mensajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-search"></i> Buscar</a>
                </li>
            </ul>                        
            <div class="navbar-nav w-100 justify-content-center">
                <button class="navbar-brand minibird-logo" onclick="goTop();">
                    <img src="~/Content/images/minibird-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="minibird_logo">
                    MiniBird
                </button>
                @*<form class="form-inline">
                    <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>                        
            <ul class="navbar-nav w-100 justify-content-end">
                @if (ActiveSession.IsAuthenticated)
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="far fa-bell"></i> Notificaciones @ActiveSession.GetEmail()</a>
                    </li>
                }                
                <li class="nav-item">                    
                    <div class="dropdown profile-dropdown-menu">
                        <a class="nav-link" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://pbs.twimg.com/profile_images/1009541059825635328/r-qkBD7g_bigger.jpg" width="20" height="20" alt="profile_image" /> GustavoProfile</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <h6 class="dropdown-header">@@gustavoprofile22</h6>
                            <a class="dropdown-item" href="#"><i class="far fa-user"></i> Perfil</a>
                            <a class="dropdown-item" href="#"><i class="far fa-envelope"></i> Mensajes</a>
                            <div class="dropdown-divider"></div>                            
                            <a class="dropdown-item" href="#"><i class="far fa-keyboard"></i> Atajos de teclado</a>                            
                            <a class="dropdown-item" href="#"><i class="far fa-address-card"></i> Contacto</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Configuración</a>                                                        
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="far fa-moon"></i> Modo oscuro</a>
                            <div class="dropdown-divider"></div>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
                            }
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
    </nav>
        
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MiniBird</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
