@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a MiniBird</title>
    @Styles.Render("~/Content/themes/bootstrap.journal.min.css")
    @Styles.Render("~/Content/register.css")
</head>
<body>
    <div class="container-fluid">
        <div class="row mh-100vh">
            <div class="col-md-6 pane-left">
                <div class="mh-10"></div>
                <div class="text-center h-80">
                    <img src="~/Content/images/minibird-logo.svg" alt="minibird_logo" />
                </div>
                <div class="mh-10"></div>
            </div>
            <div class="col-md-6">                
                <div class="mh-10"></div>
                <div class="container w-75 align-content-center mh-70">
                    <form id="registerForm">
                        <fieldset>
                            <legend class="mb-4">Crea tu cuenta en MiniBird</legend>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" autofocus aria-describedby="emailHelp" placeholder="Nombre de usuario">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Correo">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Contraseña">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="repeatPassword" placeholder="Repetir contraseña">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Acepto las <a href="#">condiciones del servicio</a></label>
                            </div>
                            <button type="submit" class="btn btn-primary">Registrarme</button>
                            <div class="form-group mt-5">
                                <span>¿Ya tienes cuenta? <a href="#" id="loginLink">Haz clic aquí para iniciar sesión</a></span>                                
                            </div>
                        </fieldset>
                    </form>

                    <form id="loginForm" class="d-none">
                        <fieldset>
                            <legend class="mb-4">Entra a tu cuenta</legend>                            
                            <div class="form-group">
                                <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" placeholder="Correo">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="passwordLogin" placeholder="Contraseña">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                            <div class="form-group mt-5">
                                <a href="#">¿Olvidaste tu contraseña?</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="mh-10"></div>                                                     
            </div>
        </div>
    </div>        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/user/register.js")
</body>
</html>
