@model Domain_Layer.DTO.MatchesFoundDTO

<div class="modal-footer search-results">
    <div class="list-group w-100">
        @foreach (var hashtag in Model.hashtagMatches)
        {
            <a href="@Url.Action("Hashtag", "Home", new { name = hashtag.HashtagName })" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <span>@hashtag.HashtagName</span>
                </div>
            </a>
        }

        @foreach (var profile in Model.profileMatches)
        {
            <a href="@Url.Action("ProfileScreen", "Account", new { id = profile.PersonID })" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <div class="col-3 col-md-2 text-center">
                        <img src="@profile.ProfileAvatar" width="48" height="48" alt="profile_image" />
                    </div>
                    <div class="col-9 col-md-10 pl-0">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">@profile.NickName</h6>
                            @if (profile.Following)
                            {
                                <small class="text-success font-weight-bold">Siguiendo</small>
                            }
                        </div>
                        <small class="mb-1">@profile.UserName</small>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

@*<div class="modal-footer search-results">
    <div class="list-group w-100">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <span>#LaChingadaTopic</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <span>#LaChingadaTopic</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <span>#LaChingadaTopic</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <span>#LaChingadaTopic</span>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-3 col-md-2 text-center">
                    <img src="~/Content/images/example_avatar.jpg" width="48" height="48" alt="profile_image" />
                </div>
                <div class="col-9 col-md-10 pl-0">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">gustavoDev22</h6>
                        <small class="text-success font-weight-bold">Siguiendo</small>
                    </div>
                    <small class="mb-1">@@gustavo_dev_22</small>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-3 col-md-2 text-center">
                    <img src="~/Content/images/example_avatar.jpg" width="48" height="48" alt="profile_image" />
                </div>
                <div class="col-9 col-md-10 pl-0">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">gustavoDev22</h6>
                        <small class="text-success font-weight-bold">Siguiendo</small>
                    </div>
                    <small class="mb-1">@@gustavo_dev_22</small>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-3 col-md-2 text-center">
                    <img src="~/Content/images/example_avatar.jpg" width="48" height="48" alt="profile_image" />
                </div>
                <div class="col-9 col-md-10 pl-0">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">gustavoDev22</h6>
                        <small class="text-success font-weight-bold">Siguiendo</small>
                    </div>
                    <small class="mb-1">@@gustavo_dev_22</small>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-3 col-md-2 text-center">
                    <img src="~/Content/images/example_avatar.jpg" width="48" height="48" alt="profile_image" />
                </div>
                <div class="col-9 col-md-10 pl-0">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">gustavoDev22</h6>
                        <small class="text-success font-weight-bold">Siguiendo</small>
                    </div>
                    <small class="mb-1">@@gustavo_dev_22</small>
                </div>
            </div>
        </a>
    </div>
</div>*@